<mat-sidenav-container class="example-container">

    <mat-sidenav mode="side" opened class="sideNav-container">
  
      <div>
        <button mat-raised-button color="primary" (click)="info()" >Información</button>
      </div>
  
      <div>
        <button mat-raised-button color="primary" (click)="agregar()" >Agregar</button>
      </div>
  
      <div>
        <button mat-raised-button color="primary" (click)="Modificar()">Modificar</button>
      </div>
  
      <div>
        <button mat-raised-button color="primary"(click)="borrar()" >Borrar</button>
      </div>

  
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar class="sideNav-container" color="primary">
        <button mat-icon-button aria-label="Menu" style="background-color: rgb(134, 134, 134);">
          <mat-icon>perm_identity</mat-icon>
        </button>
      </mat-toolbar>

  
      <div class = "Main">
        <app-info-articulo></app-info-articulo>
      </div>

      <div *ngIf="vista === 'info'">
        <app-info-articulo></app-info-articulo>
      </div>

      <div *ngIf="vista === 'agre'">
        <app-agregar-articulo></app-agregar-articulo>
      </div>

      <div *ngIf="vista === 'mod'">
        <app-modificar-articulo></app-modificar-articulo>
      </div>

      <div *ngIf="vista === 'bor'">
        <app-borrar-articulo></app-borrar-articulo>
      </div>

    </mat-sidenav-content>
  
  </mat-sidenav-container>


<!--   <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/pais1">Argentina</a>
        <a mat-list-item routerLink="/pais2">Chile</a>
        <a mat-list-item routerLink="/pais3">Uruguay</a>    
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Datos generales de paises</span>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
