<mat-card>
  <mat-card-content>
    <form [formGroup]="formularioLogin" autocomplete="off">
      <h2>LogIn</h2>
      <mat-form-field>
        <input matInput type="id" placeholder="Id" formControlName="Id" name="Id" required>
        <mat-error>
          Please provide a valid id
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="Password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <div class="botones">
        <button mat-raised-button color="primary" (click)="validateUser()">Login</button>
        <button mat-raised-button color="primary" (click)="registrar_usuario()" >Registrar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
